* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}
body {
    color: whitesmoke;
    min-height: 100vh;
    background-image: url(../pix/background.png);
    text-align: center;
}
header {
    background-color: #606166;
}
footer {
    background-color: #606166;
    color: whitesmoke;
    font-weight: bold;
    margin: 20px 0 0 0;
    text-align: center;
    width: 100%;
}
nav {
    width: 100%; /* take whole container */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav img {
    padding: 10px;
}
nav ul {
    list-style: none; /* remove style */
    height: 100%;
}
nav ul li {
    display: inline; /* display list in a row */
    height: auto;
    margin-right: 20px;
}
nav ul a {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none; /* remove underline */
}
nav ul a:hover{
    color: black;
}
table, tr, th, td, caption {
    border: 1px solid #888;
    font-family: 'courier new', courier, monospace;
    border-collapse: collapse;
    padding: .5rem;
}
article {
    display: flex;
    justify-content: center;
}
/* classes */
.center {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.event-grid {
    display: flex;
}
.event {
    width: 300px;
}
.event img {
    width: 100%;
}
.logo {
    margin-right: auto;
    width: 150px;
}
.membership-table {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.Sabbath {
    background: red;
}
.welcome{
    background-color: #333;
}
