body {
    background-color: black;
    color: whitesmoke;
}
header {
    background-color: #606166;
}
footer {
    background-color: #606166;
    color: whitesmoke;
    font-weight: bold;
    margin: 20px 0 0 0;
    text-align: center;
    width: 100%;
}
html {
    font-size: 16px;
}
nav ul {
    list-style: none; /* remove style */
}
nav ul li {
    display: inline; /* display list in a row */
    margin-right: 20px;
}
nav ul a {
    color: black;
    font-weight: bold;
    text-decoration: none; /* remove underline */
}
table, tr, th, td, caption {
    border: 1px solid #888;
    font-family: 'courier new', courier, monospace;
    border-collapse: collapse;
    padding: .5rem;
}
/* classes */
.center {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.membership-table {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
